.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #373b53;

  .page-logo {
    margin-right: auto;
  }

  .dark-mode {
    padding: 24px;
    border-right: 1px solid #494e6e;
  }

  .profile-picture {
    margin: 24px;
  }
}