header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(55, 59, 83, 1);
  padding-right: 24px;
  gap: 24px;
}

.userAvatar {
  width: 32px;
  height: 32px;
}
.darkmode {
  width: 19px;
  height: 19px;
}

.logo {
  margin-right: auto;
  width: 72px;
  height: 72px;
}

.options {
  display: flex;
  gap: 24px;
  align-items: center;
}

.line {
  border-right: 1px solid rgba(73, 78, 110, 1);
  height: 72px;
}

@media (width >=1024px) {
  .logo {
    width: 103px;
    height: 103px;
  }

  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .options {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }
  .line {
    border-right: none;
    border-bottom: 1px solid rgba(73, 78, 110, 1);
    height: 72px;
  }
}
