button {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  color: rgba(126, 136, 195, 1);
  border: none;
  padding: 16px;
  border-radius: 99em;
  background: none;
}

button:nth-child(2) {
  color: rgba(136, 142, 176, 1);
  background-color: rgba(55, 59, 83, 1);
}

button:last-child {
  color: white;
  background-color: rgba(124, 93, 250, 1);

}

.draftorSubmit {
  display: flex;
  gap: 7px;
}