.billTo {
  display: flex;
  flex-direction: column;
  gap: 24px;

  label {
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #7e88c3;
  }

  .invoicePaymentDate {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  .citiesContent {
    display: flex;
    gap: 24px;
    input {
      width: 100%;
    }
  }
}

@media (width >= 426px) {
  .billTo {
    .addressContent {
      display: flex;
      gap: 24px;
    }

    .invoicePaymentDate {
      flex-direction: row;
    }
  }
}
