/* CSS RESET */
:root {
  --background: #f8f8fb;
  --buttonBackGroundColor: #7c5dfa;
  --cardBackGorundColor: #ffffff;
  --textColor: #0c0e16;
  --opacityTextColor: #888eb0;
  --pendingBgColor: #ff8f0060;
  --pendingTextColor: #ff8f00;
  --draftBgColor: #f3f3f560;
  --draftTextColor: #373b53;
  --paidBgColor: #f3fdfa;
  --paidTextColor: #33d69f;
  --paginationButtonBgColor: #7c5dfa;
  --paginationButtonTextColor: black;
  --goBackTextColor: black;
  --cartDetailItemBgColor: #f9fafe;
}
[data-theme="dark"] {
  --background: #141625;
  --cardBackGorundColor: #1e2139;
  --textColor: #ffffff;
  --opacityTextColor: #dfe3fa;
  --pendingBgColor: #2b273660;
  --draftBgColor: #292c4460;
  --draftTextColor: #dfe3fa;
  --paidBgColor: #1f2b3f;
  --goBackTextColor: #888eb0;
  --cartDetailItemBgColor: #252945;
}

/*#1f2b3f paid*/
/*#292c44 draft*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: system-ui;
}

h3 {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  color: #7c5dfa;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input,
select {
  width: 100%;
  padding: 15px 20px;
  border-radius: 4px;
  color: #0c0e16;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: left;
  border: 1px solid #dfe3fa;
}

a,
button {
  cursor: pointer;
}

@media (width >=768px) {
  input,
  select {
    width: 100%;
  }
}
