.billFrom {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.city {
  display: flex;
  gap: 23px;

  input {
    width: 100%;
  }

  div {
    display: grid;
    gap: 9px;
  }
}

label {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.10000000149011612px;
  text-align: left;
  color: #7e88c3;
}
