.invoices-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;

  .invoices {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .invoice-card {
    background-color: var(--cardBackGorundColor);
    box-shadow: 0px 10px 10px -10px #48549f1a;
    margin-inline: 24px;
    border-radius: 8px;
    padding: 24px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        color: var(--textColor);
        font-size: 15px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: -0.25px;
        text-align: left;

        span {
          color: var(--opacityTextColor);
        }
      }

      p {
        color: var(--opacityTextColor);
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: -0.10000000149011612px;
      }
    }

    .card-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date-price {
        display: flex;
        flex-direction: column;
        gap: 9px;
        p {
          color: var(--opacityTextColor);
          font-size: 13px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: -0.10000000149011612px;
        }

        h3 {
          color: var(--textColor);
          font-size: 15px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.25px;
        }
      }

      .situation {
        .pending {
          color: var(--pendingTextColor);
          background-color: var(--pendingBgColor);
          padding: 14px 19px;
          border-radius: 6px;
          font-size: 15px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: -0.25px;
        }

        .paid {
          color: var(--paidTextColor);
          background-color: var(--paidBgColor);
          padding: 14px 19px;
          border-radius: 6px;
          font-size: 15px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: -0.25px;
        }

        .draft {
          color: var(--draftTextColor);
          background-color: var(--draftBgColor);
          padding: 14px 19px;
          border-radius: 6px;
          font-size: 15px;
          font-weight: 700;
          line-height: 15px;
          letter-spacing: -0.25px;
        }
      }
    }
  }

  .pagination {
    margin: 0 auto;
    box-shadow: 0px 10px 10px -10px #48549f1a;
    border-radius: 24px;

    button {
      border: none;
      padding: 8px 16px;
      background-color: #ffffff;
      color: var(--paginationButtonTextColor);

      &:first-child {
        border-radius: 10px 0px 0px 10px;
      }

      &:last-child {
        border-radius: 0px 10px 10px 0px;
      }

      &:disabled {
        background-color: var(--paginationButtonBgColor);
        color: var(--paginationButtonTextColor);
      }
    }
  }

  &:has(.invoice-card) .empty-container {
    display: none;
  }

  &:not(:has(.invoice-card)) .empty-container {
    width: 244px;
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 42px;

    .empty-texts {
      display: flex;
      flex-direction: column;
      gap: 23px;

      h2 {
        color: var(--textColor);
        font-size: 24px;
        font-weight: 700;
        line-height: 22.08px;
        letter-spacing: -0.75px;
      }

      p {
        color: #888eb0;
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: -0.10000000149011612px;
      }
    }
  }
}

@media (width >= 1110px) {
  .invoices-list {
    .invoice-card {
      margin-inline: 0px;
      flex-direction: row;
      justify-content: left;
      gap: 75px;

      .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 44px;

        h2 {
          min-width: 65px;
        }
      }

      .card-content {
        gap: 40px;
        flex: 1;

        .date-price {
          flex-direction: row;
          align-items: center;
          gap: 110px;

          h3 {
            min-width: 100px;
            text-align: end;
          }
        }
      }
    }
  }
}
