.addInvoiceContainer {
  .commentsRightSideBar {
    width: 0;
    background: white;
    transition: width 1s ease;
    padding: 24px;

    .backButton {
      display: flex;
      width: 130px;
      gap: 23px;
      align-items: center;
      border: none;
      background-color: transparent;
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: -0.25px;
    }
  }

  .invoiceOverview {
    display: flex;
    flex-direction: column;

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0px;
      padding-inline: 24px;
      max-width: 730px;
      margin: 60px auto;

      h2 {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 24px;
        font-weight: 700;
        line-height: 22.08px;
        letter-spacing: -0.75px;
        text-align: left;
        color: #0c0e16;

        span {
          font-size: 13px;
          font-weight: 500;
          line-height: 15px;
          letter-spacing: -0.10000000149011612px;
          text-align: left;
          color: #888eb0;
        }
      }

      button {
        display: flex;
        gap: 8px;
        align-items: center;
        width: 90px;
        height: 44px;
        border-radius: 24px;
        border: none;
        background-color: #7c5dfa;
        color: #ffffff;
        padding: 6px;
      }
    }

    .cardSection {
      padding: 0px 24px;
    }
  }

  .emptyContainer {
    display: none;
  }

  .invoiceOverview:not(:has(.cardContainer)) {
    .emptyContainer {
      display: flex;
      flex-direction: column;
      gap: 42px;
      align-items: center;
      text-align: center;
      margin-top: 102px;

      .emptyTexts {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

        h2 {
          font-size: 24px;
          font-weight: 700;
          line-height: 22.08px;
          letter-spacing: -0.75px;
          color: #0c0e16;
        }

        p {
          width: 246px;
          color: #888eb0;
        }
      }
    }
  }
}

dialog {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  overflow-y: scroll;
}

@media (width >=768px) {
  dialog {
    width: 75%;
    position: fixed;
    top: 80px;
    left: 0;
  }
}

@media (width >= 1440px) {
  .addInvoiceContainer {
    .invoiceOverview {
      display: flex;
      flex-direction: row;
    }
  }

  dialog {
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    top: 0;
    left: 80px;
    background: transparent;
  }
}
